@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNovaRegular.otf);
}

@font-face {
    font-family: ProximaNovaThin;
    src: url(../fonts/ProximaNovaThin.otf);
}

@font-face {
    font-family: ProximaNovaLight;
    src: url(../fonts/ProximaNovaLight.otf);
}

@font-face {
    font-family: ProximaNovaSemibold;
    src: url(../fonts/ProximaSemibold.otf);
}
  
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: ProximaNova, sans-serif;
}

img{
  max-width: 100%;
}

.container{
  width: 1200px;
  padding: 0 25px;
  margin: 0 auto;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.btn {
  width: 190px;
  text-align: center;
}

.btn a {
  padding: 15px 35px;
  border-radius: 27px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  white-space: nowrap;
}

.btn-red-bg a{
  background-color: #fe333c;
}

.btn-callback a{
  border: 2px solid #4f535c;
  width: 225px;
}

.btn-round-white a{
  border: 2px solid #fff;
  padding: 15px 65px;
}

.btn-send a {
  display: inline-block;
  padding: 15px 36px;
  border-radius: 27px;
  color: #141a25;
  font-family: ProximaNovaSemibold, sans-serif;
  font-size: 14px;
  border: 2px solid #dcdddf;
}

header {
	position: absolute; 
}

.promo {
  position: relative;
  background-image: url(../img/top-bg.jpg);
  background-size: 100% 1100px;
  background-repeat: no-repeat;
  color: #fff;
  padding-bottom: 305px;
}
.logo-hdr {
  display: inline-block;
}

.header-tel {
  display: inline-block;
  margin-left: 170px;
  margin-top: 56px;
}

.header-tel a {
  text-decoration: none;
  color: #fff;
  font-family: ProximaNovaLight, sans-serif;
  font-size: 20px;
}

.promo {
  position: relative;
}

.promo-title {
	color: #fff;
  font-family: ProximaNovaThin, sans-serif;
	font-size: 70px;
  line-height: 72px;
  margin-top: 170px;
  margin-bottom: 20px;
}

.promo-txt {
  font-family: ProximaNovaSemibold, sans-serif;
	color: #fe333c;
	font-size: 18px;
  margin-bottom: 65px;
}

.sale-label {
  position: absolute;
  top: -30px;
  padding: 5px;
  background-color: #141a25;
  position: absolute;
  text-transform: uppercase;
}

.promo-sale-title {
  position: relative;
  font-family: ProximaNovaLight, sans-serif;
  font-size: 42px;
  text-transform: uppercase;
}

.promo-sale-txt {
  font-family: ProximaNovaLight, sans-serif;
  font-size: 18px;
  line-height: 26px; 
}

.promo-sale-left {
  margin-top: 285px;
  position: relative;
  display: inline-block;
  vertical-align: baseline; 
}

.promo-sale-right {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 400px;
  padding-bottom: 20px;
}

.price {
  position: relative;
}

.old-price {
  position: absolute;
  font-size: 20px;
  text-decoration: line-through;
  top: -20px;
}

.new-price {
  font-family: ProximaNovaSemibold, sans-serif;
  font-size: 80px;
}

.new-price span {
  margin-top: 20px;
}
// .new-price span {
//   font-size: 40px;
//   vertical-align: top;
  
// }

.promo-sale-right > .btn-round-white {
  margin-top: 20px;
}

.specific {
  padding-bottom: 180px;
  margin-top: -130px;
}

.specific-item {
  margin-bottom: 100px;
}

.specific-item-img-box {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

.specific-item-img-box:last-child {
  text-align: right;
  margin-bottom: 0;
}

.specific-main-txt {
  font-size: 20px;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
  width: 48%;
}

.specific-small-txt {
  display: block;
  color: #a6a7a9;
  font-size: 15px;
  line-height: 25px;
  margin-top: 20px;
}

.slideWrap {
  margin-top: -120px;
}

.advantage {
  position: relative;
  background-image: url(../img/adv-bg-cropped.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 45px;
  padding-bottom: 370px;
}

svg{
  position: absolute;
  top: -200px;
  width: 100%;
  height: 200px;
  display: block;
}

.advantage-item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 33%;
  margin-bottom: 115px;
}

.advantage-item-img-box img{
  width: 80px;
  height: 80px;
}

.advantage-item-txt {
  font-family: ProximaNovaLight, sans-serif;
  color: #fff;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
}

.buy {
  position: relative;
  background-image: url(../img/buy-bg-full.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 400px;
  padding-bottom: 100px;
}

.video {
  position: absolute;
  width: 1200px;
  top: -280px;
}

.buy-items-inner {
  
}

.buy-item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 14%;
  margin: 0 1%;

}

.buy-item-txt {
  font-family: ProximaNovaLight, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 30px;
}

.products-inner {
  width: 840px;
  margin: 0 auto;
}

.product-card {
  background-image: url(../img/product-card-bg.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  width: 360px;
  min-height: 800px;
  margin-top: 85px;
  margin-right: 13%;
  padding-bottom: 50px;
}

.product-card:last-child {
  margin-right: 0;
}

.product-card-title {
  position: relative;
  font-family: ProximaNovaSemibold, sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

.product-card-title-txt {
  position: absolute;
  display: block;
  text-align: right;
  top: 40px;
  right: 70px;
  font-family: ProximaNovaSemibold, sans-serif;
  font-size: 18px;
  border: 3px solid #000;
  padding: 4px 7px;
}

.product-card-img-box {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 19px;
  vertical-align: top;
}

.product-price {
  font-family: ProximaNovaSemibold, sans-serif;
  font-size: 50px;
  color: #fff;
  background-color: #fe333c;
  text-align: center;
  width: 230px;
  margin: 0 auto;
  padding: 10px 0;
  margin-top: -15px;
}

.product-card-list {
  list-style: none;
  padding-left: 0;
  margin-top: 15px;
}

.product-card-item {
  position: relative;
  color: #fff;
  font-family: ProximaNovaLight, sans-serif;
  font-size: 14px;
  line-height: 30px;
  margin: 0 50px;
  padding: 9px 0;
  border-bottom: 1px solid #373c45;
}

.product-card-item:last-child {
  border-bottom: none;
  margin-bottom: 15px;
}

.product-card-item-extra {
  position: relative;
}

.product-card-item-extra:before {
  position: absolute;
  display: inline-block;
  content: '';

  width: 8px;
  height: 8px;
  
  top: 20px;
  left: -20px;

  background-image: url(../img/plus.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.product-card > .btn-red-bg {
  margin: 0 auto;
  margin-top: 30px;
}
.product-card > .btn-red-bg a {
  padding: 15px 65px;
}

.call-form {
  color: #fff;
  margin-top: 90px;
  padding-bottom: 4px;
}

.call-form-left {
  display: inline-block;
  width: 50%;
  margin-right: 5%;
  vertical-align: top;
}

.call-form-right {
  display: inline-block;
  width: 43%;
  text-align: left;
  vertical-align: top;
}

.call-form-title {
  font-family: ProximaNovaLight, sans-serif;
  font-size: 50px;
}

.call-form-txt {
  font-family: ProximaNovaLight, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.call-form-tel {
  position: relative;
  width: 340px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 25px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 15px;
  padding-left: 30px;
  color: #fff;
  border-bottom: 2px solid #54585f;
  background-color: transparent;

  background-image: url(../img/phone.png);
  background-size: 4%;
  background-repeat: no-repeat;
  
}

.call-form-right > .btn-callback {
  margin-left: 60px;
  margin-top: 15px;
}

.vk-review {
  padding-top: 80px;
}

.vk-review-title {
  font-family: ProximaNovaLight, sans-serif;
  font-size: 50px;
  margin-bottom: 35px;
}

.footer {
  border-top: 1px solid #e7e8e9;
  padding-top: 80px;
  padding-bottom: 90px;
}

.ftr-left {
  width: 50%;
  display: inline-block;
  font-family: ProximaNovaSemibold, sans-serif;
  font-size: 15px;
  line-height: 25px;
  vertical-align: top;
}

.logo-ftr {
  margin-bottom: 30px;
}

.ftr-right {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

.ftr-right-txt {
  font-family: ProximaNovaLight, sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 50px;
}

.ftr-mail {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 25px;
  outline: none;
  width: 340px;
  margin-bottom: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 15px;
  color: #000;
  border-bottom: 2px solid #c0c2c5;
  background-color: transparent;
}

.ftr-right> .btn-send {
  width: 30%;
  float: right;
  margin-top: -5px;
}

.owl-carousel {
  position: relative;
}

.owl-prev {
  position: absolute;
  display: inline-block;
  content: '';
  top: 50%;
  left: 0;
 }

 .owl-next {
  position: absolute;
  display: inline-block;
  content: '';
  top: 50%;
  right: 0;
}

.owl-prev, .owl-next {
  padding: 9px;
}

.owl-prev:hover, .owl-next:hover {
  outline: 2px solid black
}

.owl-dots {
  text-align: center;
}

.owl-dot {
  color: #000;
  padding: 5px;
  display: inline-block;
  font-size: 15px;
  margin: 15px 10px;
}

.owl-dot:hover {
  outline: 2px solid black 
}

.owl-dot: {
  color: red;
}
