@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNovaRegular.otf);
}

@font-face {
    font-family: ProximaNovaThin;
    src: url(../fonts/ProximaNovaThin.otf);
}

@font-face {
    font-family: ProximaNovaLight;
    src: url(../fonts/ProximaNovaLight.otf);
}

@font-face {
    font-family: ProximaNovaSemibold;
    src: url(../fonts/ProximaSemibold.otf);
}
  
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: ProximaNova, sans-serif;
}

img{
  max-width: 100%;
}

.container{
  width: 1200px;
  padding: 0 25px;
  margin: 0 auto;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.btn {
  padding: 15px 36px;
  border-radius: 27px;
  width: 190px;
  text-align: center;
}

.btn a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  white-space: nowrap;
}

.btn-red-bg {
  background-color: #fe333c;
}

.btn-callback {
  border: 2px solid #4f535c;
  width: 225px;
}

.btn-round-white {
  border: 2px solid #fff;
}

header {
	position: absolute; 
}

.promo {
  position: relative;
  background-image: url(../img/top-bg.jpg);
  background-size: 100% 1000px;
  // background-position: -100px;
  background-repeat: no-repeat;
  color: #fff;
  

  padding-bottom: 155px;
  // border: 3px solid green;
}

// .header {
//   position: absolute;
//   top: 50px;
//   z-index: 1;
// }

.logo-hdr {
  display: inline-block;
}

.header-tel {
  display: inline-block;
  margin-left: 170px;
  margin-top: 56px;
}

.header-tel a {
  text-decoration: none;
  color: #fff;
  font-family: ProximaNovaLight, sans-serif;
  font-size: 20px;
}

.promo {
  position: relative;
}

.promo-title {
	color: #fff;
  font-family: ProximaNovaThin, sans-serif;
	font-size: 70px;
  line-height: 72px;

  margin-top: 170px;
  margin-bottom: 20px;
}

.promo-txt {
  font-family: ProximaNovaSemibold, sans-serif;
	color: #fe333c;
	font-size: 18px;
  margin-bottom: 65px;
}

.sale-label {
  position: absolute;
  top: -40px;
  padding: 6px;
  background-color: #141a25;
  position: absolute;
  text-transform: uppercase;
  
}

.promo-sale-title {
  position: relative;
  font-family: ProximaNovaLight, sans-serif;
  font-size: 42px;
  text-transform: uppercase;
}

.promo-sale-txt {
  font-family: ProximaNovaLight, sans-serif;
  font-size: 18px;
  line-height: 30px; 
}

.promo-sale-left {
  margin-top: 170px;
  position: relative;
  display: inline-block;
  vertical-align: baseline; 
}

.promo-sale-right {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 400px; 
}

.price {
  position: relative;
}

.old-price {
  position: absolute;
  font-size: 20px;
  text-decoration: line-through;
  top: -20px;
}

.new-price {
  font-family: ProximaNovaSemibold, sans-serif;
  font-size: 80px;
}

.specific-item {
  margin-bottom: 100px;
}

.specific-item-img-box {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

.specific-item-img-box:last-child {
  text-align: right;
}

.specific-main-txt {
  // font-family: ProximaNovaRegular, sans-serif;
  font-size: 20px;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
  width: 48%;
}

.specific-small-txt {
  display: block;
  color: #a6a7a9;
  font-size: 15px;
  line-height: 25px;
  margin-top: 20px;
}

.advantage {
  position: relative;
  
  background-image: url(../img/adv-bg-cropped.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  
  padding-top: 45px;
  padding-bottom: 370px;
}

.advantage:before {
  position: absolute;
  content: '';
  display: inline-block;
  
  width: 100%;
  height: 200px;

  // background-color: red;
}

.advantage-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    
    width: 33%;
    margin-bottom: 115px;
}

.advantage-item-img-box img{
  width: 80px;
  height: 80px;
}

.advantage-item-txt {
  font-family: ProximaNovaLight, sans-serif;
  color: #fff;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
}

.buy {
  background-image: url(../img/buy-bg-full.jpg);
  background-size: 150%;
  background-repeat: no-repeat;

  padding-top: 400px;
  padding-bottom: 100px;

  border: 1px solid green;
}

.buy-items-inner {
  
}

.buy-item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 14%;
  margin: 0 1%;

}

.buy-item-txt {
  font-family: ProximaNovaLight, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 35px;
}

.products-inner {
  width: 840px;
  margin: 0 auto;
}

.product-card {
  background-image: url(../img/product-card-bg.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  width: 360px;
  min-height: 800px;
  margin-top: 105px;
  margin-right: 13%;
  padding-bottom: 50px;

  border: 3px solid red;
}

.product-card:last-child {
  margin-right: 0;
}

.product-card-title {
  position: relative;
  font-family: ProximaNovaSemibold, sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

.product-card-title-txt {
  position: absolute;
  display: block;
  text-align: right;
  top: 40px;
  right: 70px;
  font-family: ProximaNovaSemibold, sans-serif;
  font-size: 18px;
  border: 3px solid #000;
  padding: 4px 7px;
}

.product-card-img-box {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 19px;
  vertical-align: top;
}

.product-price {
  font-family: ProximaNovaSemibold, sans-serif;
  font-size: 50px;
  color: #fff;
  background-color: #fe333c;
  text-align: center;
  width: 230px;
  margin: 0 auto;
}

.product-card-list {
  list-style: none;
  padding-left: 0;
  margin-top: 15px;
}

.product-card-item {
  position: relative;
  color: #fff;
  font-family: ProximaNovaLight, sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin: 0 50px;
  padding: 15px 0;
  border-bottom: 1px solid #373c45;
}

.product-card-item:last-child {
  border-bottom: none;
  margin-bottom: 15px;
}

.product-card-item-extra {
  position: relative;
}

.product-card-item-extra:before {
  position: absolute;
  display: inline-block;
  content: '';

  width: 8px;
  height: 8px;
  
  top: 27px;
  left: -20px;

  background-image: url(../img/plus.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.product-card > .btn-red-bg {
  margin: 0 auto;
}

.call-form {
  color: #fff;
  margin-top: 70px;
}

.call-form-left {
  display: inline-block;
  width: 50%;
}

.call-form-right {
  display: inline-block;
  width: 45%;
  text-align: left;
}

.call-form-title {
  font-family: ProximaNovaLight, sans-serif;
  font-size: 50px;
  margin-bottom: 15px;
}

.call-form-txt {
  font-size: 20px;
  line-height: 30px;
}

.vk-review {
  padding-top: 80px;
}

.vk-review-title {
  font-family: ProximaNovaLight, sans-serif;
  font-size: 50px;
  margin-bottom: 35px;
}

.footer {
  border-top: 1px solid #e7e8e9;
  padding-top: 80px;
  padding-bottom: 90px;
}

.ftr-left {
  width: 50%;
  display: inline-block;
  font-family: ProximaNovaSemibold, sans-serif;
  font-size: 15px;
  line-height: 25px;
  vertical-align: top;
}

.logo-ftr {
  margin-bottom: 30px;
}

.ftr-right {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

.ftr-right-txt {
  font-family: ProximaNovaRegular, sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 60px;
}




