@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNovaRegular.otf);
}

@font-face {
    font-family: ProximaNovaThin;
    src: url(../fonts/ProximaNovaThin.otf);
}

@font-face {
    font-family: ProximaNovaLight;
    src: url(../fonts/ProximaNovaLight.otf);
}

@font-face {
    font-family: ProximaNovaSemibold;
    src: url(../fonts/ProximaSemibold.otf);
}
  
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: ProximaNova, sans-serif;
}

img{
  max-width: 100%;
}

.container{
  width: 1200px;
  padding: 0 25px;
  margin: 0 auto;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.btn {

  padding: 15px 36px;
  border-radius: 27px;
  width: 190px;
}

.btn a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  white-space: nowrap;
}

.btn-red-bg {
  background-color: #fe333c;
}

header, .promo {
	background-color: #141a25;
}

.header-tel {
	color: #fff;
  font-family: ProximaNovaLight, sans-serif;
  font-size: 20px;
  margin-top: 56px;
}

.promo-title {
	color: #fff;
  font-family: ProximaNovaThin, sans-serif;
	font-size: 70px;
  line-height: 72px;

  margin-top: 95px;
  margin-bottom: 20px;
}

.promo-txt {
  font-family: ProximaNovaSemibold, sans-serif;
	color: #fe333c;
	font-size: 18px;
  margin-bottom: 65px;
}

.specific-main-txt {
  width: 50%;
  font-size: 20px;
  line-height: 30px;
}

.specific-small-txt {
  color: #a6a7a9;
  font-size: 15px;
  line-height: 25px;
}

.advantage {
  background-color: #141a25;
}

.advantage-item {
    display: inline-block;
  width: 30%;
}

.advantage-item-txt {
  font-family: ProximaNovaSemibold, sans-serif;
  color: #fff;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
}

.buy {
  background-color: #fe333c;
}

.buy-item {
  color: #fff;
  text-transform: uppercase;
}

.product-card-list {
  list-style: none;
  padding-left: 0;
}


